<header class="main-header">
    <h1 class="main-header__title">
        <a routerLink="plantas">
        <span class="main-header__title--purple">Start</span><span class="main-header__title--green">Planting</span>
        <i class="fa-brands fa-pagelines" style="color: #659157;"></i>
        </a>
    </h1>

    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li>
                <a routerLink="plantas">Plantas</a>
            </li>
            <li>
                <a routerLink="contato">Contato</a>
            </li>
            <li>
                <a routerLink="carrinho">
                    Carrinho <i class="fa-solid fa-cart-shopping" style="color: #8e7dbe;"></i>
                    
                    <span class="bagde-carrinho"> {{carrinhoService.obtemCarrinho().length}}</span>
                </a>
            </li>
            <li>
                <a>
                   <i class="fa-brands fa-facebook" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-instagram" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-twitter" style="color: #8e7dbe;"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-brands fa-linkedin" style="color: #8e7dbe;"></i>
                </a>
            </li>
            
        </ul>
    </nav>

<app-barra-pesquisa>
       
</app-barra-pesquisa>

    </div>
</header>
