<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugit quaerat accusantium adipisci optio inventore sint, quisquam explicabo enim reiciendis omnis ullam dolorum quo necessitatibus sit hic, labore quibusdam eum.</p>
        </section>
    

    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope" style="color: #8e7dbe"></i>email@email.com</li>
            <li><i class="fa-solid fa-phone" style="color: #8e7dbe"></i>(00) 0 0000 0000</li>
            <li><i class="fa-solid fa-whatsapp" style="color: #8e7dbe"></i>(00) 0 0000 0000</li>
            
        </ul>
    </address>
    </div> 

    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
    
</footer>