<section class="product-list">
    <div class="product-list__card" *ngFor= "let planta of plantas">
        <a routerLink="/plantas/{{ planta.id }}" class="product-list__link">
            <img [src]="planta.imagem" />
            <h2 class="product-item__name">
                {{ planta.descricao }}
            </h2>
            <p class="product-item__price">
                {{ planta.preco | currency: "BRL" }}

            </p>
            <p class="product-item__description">
                {{ planta.descricaoPreco }}
            </p>
            <button class="product-item__buy-button" type="button">
                Comprar
            </button>
        </a>

    </div>
</section>